# credenciais Gsolutions
GSOLUTIONS_LOGIN
GSOLUTIONS_PASSWORD
GSOLUTIONS_URL

#credenciais pentagono
PENTAGONO_LOGIN
PENTAGONO_PASSWORD

# Credenciais IPBox
URL_IPBOX
IPBOX_TOKEN
IPBOX_LOGIN
IPBOX_PASSWORD

# credenciais Agitel
AGITEL_USER
AGITEL_PASSWORD
AGITEL_URL

# credenciais do banco de dados que vai armazenar os tokens
DATABASE_CONTECH
USER_DB
port_database_tokens
HOST_DB
SENHA_DB

# credenciais vonix
LOGIN_VONIX
SENHA_VONIX
URL_BASE_VONIX6
TEMPO_VONIX

# credenciais do servidor do callix na contech
URL_CALLIX_GERAL
USUARIO_CALLIX_GERAL
SENHA_CALLIX_GERAL

# credenciais plataforma Gerax
GERAX_URL
GERAX_USER
GERAX_PASSWORD
